@model CatfishCove.Web.Models.BuffetRotatingWeek

@{
  ViewBag.Title = "CreateRotating";
}

<div class="ui sixteen wide column">
  <header>
    <h1>Create Rotating Buffet Item</h1>
  </header>

  @Html.Partial("_BuffetRotatingForm", Model)
</div>