@model CatfishCove.Web.Models.BuffetItem

@{
  ViewBag.Title = "Edit";
}
<div class="ui sixteen wide column">
  <header>
    <h1>Create Buffet Item</h1>
  </header>

  @Html.Partial("_BuffetItemForm", Model)
</div>