@model CatfishCove.Web.Models.BuffetRotatingWeek

@{
  ViewBag.Title = "EditRotating";
}

<div class="ui sixteen wide column">
  <header>
    <h1>Edit Rotating Buffet Item</h1>
  </header>

  @Html.Partial("_BuffetRotatingForm", Model)
</div>
