@{
  ViewBag.Title = "Catfish Cove Seafood Thanksgiving Buffet";
  ViewBag.Description = "On Sundays from 11:00am to 3:00pm we have a super delicous country cookin' buffet.  It's all you can eat with access to our full salad bar, and dessert for $7.95.";
}

<div class="ui sixteen wide column">
  <header>
    <div class="ui vertical segment">
      <h1 class="ui header">
        <i class="circular calendar icon"></i>
        <div class="content">
          Thanksgiving Buffet
          <div class="sub header">&nbsp;&nbsp;&nbsp;gobble gobble...</div>
        </div>
      </h1>
      <p>
        Join us on Thanksgiving for a holiday version of our country cookin' lunch buffet.  We'll be here from 11:00am to 3:00pm and prices for the buffet are:
        <ul>
          <li>$9.95 for adults</li>
          <li>$6.95 for children under 10</li>
          <li>$3.00 for children under 6</li>
          <li>$4.75 per lb to go</li>
        </ul>
      </p>
    </div>
  </header>

  <h3>Holiday Specials</h3>
  <table class="ui table segment">
    <thead>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Baked Turkey</td>
        <td>Holiday</td>
        <td>Gobble Gobble</td>
      </tr>
      <tr>
        <td>Baked Ham</td>
        <td>Holiday</td>
        <td>Our awesome honey baked ham</td>
      </tr>
      <tr>
        <td>Dressing</td>
        <td>Holiday</td>
        <td>Pullin out all the stops</td>
      </tr>
      <tr>
        <td>Giblet Gravy</td>
        <td>Holiday</td>
        <td>'nough said</td>
      </tr>
    </tbody>
  </table>


  <h3>Staples</h3>
  <table class="ui table segment">
    <thead>
      <tr>
        <th>Item</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fried Chicken</td>
        <td>Poultry</td>
        <td>Deep Fried Chicken Breasts, Wings, Legs, and Thighs</td>
      </tr>
      <tr>
        <td>Mashed Potatoes</td>
        <td>Vegetable</td>
        <td>Super good traditional mashed potatoes</td>
      </tr>
      <tr>
        <td>White Rice</td>
        <td>Starch</td>
        <td>Classic white rice with butter</td>
      </tr>
      <tr>
        <td>Green Beans</td>
        <td>Vegetable</td>
        <td>Traditional homemade green beans.</td>
      </tr>
      <tr>
        <td>Macaroni and Cheese</td>
        <td>Starch</td>
        <td>Southern baked macaroni and cheese.</td>
      </tr>
      <tr>
        <td>Sweet Potato Casserole</td>
        <td>Vegetable</td>
        <td>Sweet potatoes with a thin layer of brown sugar and pecan topping</td>
      </tr>
      <tr>
        <td>Fried Squash</td>
        <td>Vegetable</td>
        <td>Deep fried, thinnly sliced, and hand breaded squash</td>
      </tr>
      <tr>
        <td>Fried Okra</td>
        <td>Vegetable</td>
        <td>Deep fried breaded okra pieces</td>
      </tr>
      <tr>
        <td>Biscuits</td>
        <td>Bread</td>
        <td>Thick soft buttered southern style biscuts.</td>
      </tr>
      <tr>
        <td>Pinto Beans</td>
        <td>Beans</td>
        <td>Southern Style Pintos</td>
      </tr>
      <tr>
        <td>Shoepeg Corn</td>
        <td>Vegetable</td>
        <td></td>
      </tr>
      <tr>
        <td>Brocolli Casserole</td>
        <td>Casserole</td>
        <td>Cheese brocolli and some other good stuff</td>
      </tr>
    </tbody>
  </table>

</div>
