@{
  ViewBag.Title = "Catfish Cove Seafood, Belmont, NC";
  ViewBag.Description = "Catfish Cove is a seafood restaurant (fish camp) in Belmont, NC.  We are known for great fried fish and chicken and our country cookin' Sunday lunch buffet";
}

@section AnnoucementSection
{
<div class="ui transition information">
  <h1 class="ui inverted header center">
    Catfish Cove Seafood
  </h1>
  <p class="ui message teal">Catfish Cove is a seafood restaurant (fish camp) in Belmont, NC. We are known for great fried fish and chicken and our country cookin' Sunday lunch buffet.</p>
  <div class="large inverted animated fade ui button">
    <div class="visible content">See the menu</div>
    <div class="hidden content">Click here</div>
  </div>
</div>
}

<div class="ui page grid overview segment">
  <div class="ui two wide column"></div>
  <div class="twelve wide column">
    <div class="ui three column center aligned stackable divided grid">
      <div class="column">
        <div class="ui icon header">
          <i class="circular food link icon"></i>
          Menu
        </div>
        <p>Check out our great menu full of all the fried and grilled seafood anyone could ask for.</p>
        <p><a class="ui teal right labeled icon button" href="#">Details <i class="right long arrow icon"></i></a></p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="circular calendar link icon"></i>
          Sunday Buffet
        </div>
        <p>Join us for our famous country cookin' lunch buffet, full of all your home cooked favorites.</p>
        <p><a class="ui teal right labeled icon button" href="#">Details <i class="right long arrow icon"></i></a></p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="circular truck link icon"></i>
          Catering
        </div>
        <p>Come let us cook our great seafood or country cookin' at your event.</p>
        <p><a class="ui teal right labeled icon button" href="#">Details <i class="right long arrow icon"></i></a></p>
      </div>
    </div>
  </div>
</div>