@model MenuItem

<div class="ui form segment">
  <form method="post">
    <div class="ui error message">
      <div asp-validation-summary="ModelOnly" class="ui error message"></div>
    </div>

    <div class="field">
      <label asp-for="Name"></label>
      <div class="ui left labeled icon input">
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="ui error message"></span>
      </div>
    </div>
   
    <div class="field">
      <label asp-for="Description"></label>
      <div class="ui left labeled icon input">
        <input asp-for="Description" />
        <span asp-validation-for="Description" class="ui error message"></span>
      </div>
    </div>

    <div class="field">
      <label asp-for="FoodType"></label>
      <div class="ui left labeled icon input">
        <select asp-for="FoodType.Id" asp-items="ViewBag.FoodTypes"></select>
        <span asp-validation-for="FoodType" class="ui error message"></span>
      </div>
    </div>
   
    <div class="field">
      <label asp-for="HalfOrderPrice"></label>
      <div class="ui left labeled icon input">
        <input asp-for="HalfOrderPrice" />
        <span asp-validation-for="HalfOrderPrice" class="ui error message"></span>
      </div>
    </div>
   
    <div class="field">
      <label asp-for="WholeOrderPrice"></label>
      <div class="ui left labeled icon input">
        <input asp-for="WholeOrderPrice" />
        <span asp-validation-for="WholeOrderPrice" class="ui error message"></span>
      </div>
    </div>

    <input type="submit" value="Save" class="ui button teal" />
  </form>
</div>
<div>
  <br />
  <a asp-action="Index">Back to List</a>
</div>
