@{
    ViewBag.Title = "Catfish Cove Seafood Catering";
    ViewBag.Description = "Got a big get together planned, but you don't want to cook for 30 or 200 people?  Let us do the cooking! We'll bring our state of the art catering trailer with us and cook on site.  That way it's piping hot when everyone is ready to chow down.  We can do catering for churches, fundraisers, etc.";
}

<section id="Directions">
    <div class="page-header">
        <h2>Catering<small>&nbsp;&nbsp;&nbsp;let us do the cooking...</small></h2>
    </div>
    <div class="row">
        <div class="span10">
            <p>
                Got a big get together planned, but you don't want to cook for 30 or 200 people?  Let us do the cooking!
                We'll bring our "state of the art" catering trailer with us and cook on site.  That way it's piping hot 
                when everyone is ready to chow down.  We can do catering for churches, fundraisers, etc.
            </p>
            <p>
                Don't have a good place to host your event?  No sweat we host your event in our giant party room. 
            </p>
            <p>
                To find our more information please call us up at 704-825-3332, we'll give you the skinny on the details
                of how your event will need to go down.
            </p>
        </div>
        <div class="span6">
            <img class="img-rounded" src="@Url.Content("~/Content/Images/CateringTrailer.jpg")" alt="Catfish Cove Catering Trailer">               
        </div>
    </div>
</section>

<script type="text/javascript">    SetActiveMenuItem("Catering");</script>