@{
    ViewBag.Title = "Directions to Catfish Cove";
    ViewBag.Description = "Directions to Catfish Cove in Belmont, NC.";
}

<section id="Directions">
    <div class="page-header">
        <h2>Directions<small>&nbsp;&nbsp;&nbsp;here's how you get here...</small></h2>
    </div>
    <div class="row">
        <div class="span4">
            <h3>From Charlotte</h3>            
            <ol>
                <li>Take I-85 South to exit 26.</li>
                <li>Turn Right off the exit ramp onto Belmont Mt Holly Rd.</li>
                <li>After .5 miles Bare Right onto Central Ave.</li>
                <li>After .8 miles turn Right onto S Main St.</li>
                <li>Continue about 2 miles and we will be on the left after you cross the river.</li>
            </ol>
        </div>
        <div class="span12">
            <div class="media-grid">
                <a href="#" class="thumbnail">
                <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1401+Armstrong+Ford+Road,+Belmont,+NC&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=56.987104,79.013672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=1401+Armstrong+Ford+Rd,+Belmont,+North+Carolina+28012&amp;t=m&amp;ll=35.217295,-81.063137&amp;spn=0.067316,0.109863&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe><br />
                <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1401+Armstrong+Ford+Road,+Belmont,+NC&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=56.987104,79.013672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=1401+Armstrong+Ford+Rd,+Belmont,+North+Carolina+28012&amp;t=m&amp;ll=35.217295,-81.063137&amp;spn=0.067316,0.109863&amp;z=13&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                </a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">    SetActiveMenuItem("Directions");</script>