@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="ui page grid overview segment stackable">
  <div class="twelve wide column">
    <h2>@ViewBag.Title</h2>
    <h4>Enter your email.</h4>
    <section class="ui form segment">
      <form asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <div class="field">
          <label asp-for="Email"></label>
          <div class="ui left labeled icon input">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="ui error message"></span>
          </div>
        </div>
        <button type="submit" class="ui button teal">Submit</button>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
