@{
    ViewBag.Title = "Locked out";
}

<header>
  <h2 class="ui error message">@ViewBag.Title</h2>
  <p class="ui error message">This account has been locked out, please try again later.</p>
</header>
