@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}


<div class="ui page grid overview segment stackable">
  <div class="twelve wide column">

    <h2>@ViewBag.Title</h2>
    <section class="ui form segment">
      <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <h4>Create a new account.</h4>
        <div class="ui divider"></div>
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <div class="field">
          <label asp-for="Email"></label>
          <div class="ui left labeled icon input">
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="ui error message"></span>
          </div>
        </div>
        <div class="field">
          <label asp-for="Password"></label>
          <div class="ui left labeled icon input">
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="ui error message"></span>
          </div>
        </div>
        <div class="field">
          <label asp-for="ConfirmPassword"></label>
          <div class="ui left labeled icon input">
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="ui error message"></span>
          </div>
        </div>
        <button type="submit" class="ui button teal">Register</button>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
