@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<div class="ui page grid overview segment stackable">
  <div class="twelve wide column">
    <h2>@ViewBag.Title </h2>
    <h4>Reset your password.</h4>
    <section class="ui form segment">
      <form method="post">
        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
        <input asp-for="Code" type="hidden" />
        <div class="field">
          <label asp-for="Email"></label>
          <div class="ui left labeled icon input">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="ui error message"></span>
          </div>
        </div>
        <div class="field">
          <label asp-for="Password"></label>
          <div class="ui left labeled icon input">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="ui error message"></span>
          </div>
        </div>
        <div class="field">
          <label asp-for="ConfirmPassword"></label>
          <div class="ui left labeled icon input">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="ui error message"></span>
          </div>
        </div>
        <button type="submit" class="ui button teal">Reset</button>
      </form>
    </section>
  </div>
</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
