@{
    ViewBag.Title = "Signed out";
}

<div class="ui page grid overview segment stackable">
  <div class="twelve wide column">
    <h2>ViewBag.Title</h2>
    <p>
      You have successfully signed out.
    </p>
  </div>
</div>