@{
    ViewBag.Title = "Contact Us";
    ViewBag.Description = "Catfish Cove hours of operation, phone number, email and address.";
}

<div class="ui sixteen wide column">
  <header>
    <h1 class="ui header">
      <i class="circular phone icon"></i>
      <div class="content">
        Contact
        <div class="sub header">&nbsp;&nbsp;&nbsp;drop us a line....</div>
      </div>
    </h1>
  </header>


  <div class="ui page grid overview segment">
    <div class="sixteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="circular home link icon"></i>
            Address
          </div>
          <address>
            1401 Armstrong Ford Rd <br />
            Belmont, NC, 28012 <br />
          </address>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="circular phone link icon"></i>
            Phone
          </div>
          <p>704-825-3332</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="circular mail link icon"></i>
            Email
          </div>
          <p>kent@catfishcove.net</p>
        </div>
      </div>
      <div class="ui one column center aligned stackable">
        <div class="column">
          <div class="ui icon header">
            <i class="circular time link icon"></i>
            Hours
          </div>
          <table class="ui table segment">
            <thead>
              <tr>
                <th style="text-align: center;">Day of week</th>
                <th style="text-align: center;">Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Tuesday - Thursday:</td>
                <td>4:00pm - 9:00pm</td>
              </tr>
              <tr>
                <td>Friday:</td>
                <td>4:00pm - 9:30pm</td>
              </tr>
              <tr>
                <td>Saturday:</td>
                <td>3:00pm - 9:30pm</td>
              </tr>
              <tr>
                <td>Sunday:</td>
                <td>11:00am - 3:00pm</td>
              </tr>
              <tr>
                <td>Monday:</td>
                <td>Closed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
